//HEADER
$nav-font-color: #1b3c59;
$nav-font-size: 0.8rem;
$btn-bg-color: #61ce4e;
$btn-color: #fff;
$nav-bg-color: #fff;

//SECTIONS
$font-color: #1b3c59;
$bg-color-blue: #1b3c59;
$font-color-white: #fff;

//footer
$color-hover: #61ce4e;
